db_path: 'rss2jira.db'
sources:
    - name: 'BioStars'
      feed_url: 'http://biostars.org/feeds/latest'
      jira_url: 'https://jira.gsc.wustl.edu'
      jira_username: 'TheDude'
      jira_password: 'Abides'
      jira_projectKey: 'BST'
      jira_issuetypeName: 'Epic'
    - name: 'SEQanswers'
      feed_url: 'http://seqanswers.com/forums/external.php?type=RSS2'
      jira_url: 'https://jira.gsc.wustl.edu'
      jira_username: 'TheDude'
      jira_password: 'Abides'
      jira_projectKey: 'BST'
      jira_issuetypeName: 'Epic'
keywords:
    - 'breakdancer'
    - 'ibwa'
    - 'joinx'
    - 'music'
    - 'refcov'
    - 'somaticsniper'
    - 'tigra-sv'
